<footer id="main-footer" class="py-4 bg-primary text-white text-center">
  {% comment %} Copyright &copy; {% endcomment %}
  {% comment %} <span class="year"></span> B2B Mart {% endcomment %}

  <h3>Copyright @ <span>2023 </span>All Rights reserved by B2B Mart</h3>
  {% comment %} <div>
    <h3>Contact Us on</h3>
    <a href="#"><i class="fa fa-whatsapp wp"></i></a>
    <a href="#"><i class="fa fa-facebook-official fb"></i></a>
    <a href="#"><i class="fa fa-instagram ins"></i></a>
    <a href="#"><i class="fa fa-telegram tele"></i></a>
  </div> {% endcomment %}
</footer>